<footer>
    <div>
        <div class="footer">
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="mailto:crz19xru@uea.ac.uk">Contact</a></li>
                <li><a href="mailto:crz19xru@uea.ac.uk">Email</a></li>
            </ul>
        </div>
    </div>
</footer>