<div id="navbar">
    <a href="/">Home</a>
    <a href="/planttype">Plant Type</a>
    <a href="/adddevice">Add Device</a>
    <a href="/moistureview">View Moisture</a>
    <a href="/settings">Settings</a>
    <a href="/about">About</a>
</div>